@import 'normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap';

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-space: 24px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: black;
    font-weight: normal;
}

body {
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
.iconCat {
    object-fit: contain;
    margin-right: 5px;
    padding-bottom: 5px;
}

.topic1 {
    color: #ec5078;
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0px;
    line-height: 45px;
}

.topic2 {
    font-size: 3.4rem;
    font-weight: bolder;
    color: #0c1529;
    margin-bottom: 30px;
    @media (max-width: $lg) {
        font-size: 52px;
    }
    @media (max-width: $md) {
        font-size: 40px;
    }
}
.p-text {
    color: rgb(147, 144, 144);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    @media (max-width: $sm) {
        font-size: 15px;
    }
}
//Custom tippy tooltips
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
