@import 'normalize.css';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Merriweather:wght@700&family=PT+Serif:wght@700&family=Poppins:wght@900&family=Roboto+Condensed&family=Roboto:wght@400;700;900&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-space: 24px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto Condensed','sans-serif';

}



body {
    text-rendering: optimizeSpeed;
}

button, input, [tabindex]{
    outline: none;
    border: none;
}
a[href]{
    color: var(--text-color);
    text-decoration: none;
}

//Custom tippy tooltips
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}