.skill {
    width: 100%;
    padding: 15px 15px 0px 15px;
    margin-bottom: 5px;
    background-color: rgb(253, 245, 229);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .skill-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .value {
        font-size: 16px;
    }
}
