.storeDetail-wrapper {
    .product-thumpnail {
        padding: 10px 10px 10px 0px;

        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 100%;
            max-height: 400px;
            object-fit: contain;
        }
    }
    .product-description {
        padding: 20px;
        .product-about {
            margin-bottom: 20px;
        }
        .topic2 {
            margin-bottom: 16px;
            font-size: 50px;
        }
        .rank-review {
            display: flex;
            .rank {
                .star {
                    margin: 0px 3px;
                    path {
                        color: #f6af34;
                    }
                }
            }
            .review {
                margin-left: 20px;
            }
        }
        .price {
            h6 {
                color: #f33666;
                margin-bottom: 15px;
                font-weight: bolder;
                font-family: oswald;
                font-size: 20px;
            }
        }
        .product-action {
            display: flex;
            justify-content: space-around;
            .modify-quantity,
            .add-cart {
                width: 160px;
                height: 54px;
                background-color: #ddd;
                border-radius: 100px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            .modify-quantity {
                svg {
                    cursor: pointer;
                    path {
                        color: #0c1529;
                    }
                }
                span {
                    font-weight: light;
                    font-size: 20px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
            .add-cart {
                background-color: #82b440;
                justify-content: center;
                svg {
                    cursor: pointer;
                    path {
                        color: #ffffff;
                    }
                }
                p {
                    margin: 0px 5px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
    .relative-product {
        .topic2 {
            font-size: 42px;
        }
    }
    .my-nav-tab {
        .my-nav-item {
            margin-right: 40px;
            .tab-link {
                padding: 15px 0;
                display: block;
                color: #0c1529;
                font-size: 20px;
                font-family: oswald;
                text-decoration: none;
                cursor: pointer;
                &.active {
                    color: #f33666;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0px;
                        bottom: -1px;
                        width: 100%;
                        height: 1px;
                        background-color: #ec5078;
                    }
                }
            }
        }
    }
    .tab-content {
        padding: 0px;
       
    }
}
