$lg: 992px;
$surfacepro7: 913px;
$ipadair: 821px;
$ipadmini: 769px;
$ip14prm: 431px;
$ipxr: 415px;
$ip12pro: 391px;
$ipse: 376px;
$sss8: 361px;

.co-text {
    text-align: justify;
}
.co-contact {
    margin: 100px 0px;
    p {
        &.h1 {
            font-weight: bold;
            font-size: 3rem;
            color: #10223a;
            margin-bottom: 10px;
            margin-left: -8px;
            text-align: center;
            @media (max-width: 580px) {
                margin-left: 0px;
                font-size: 42px;
            }
        }
        &.discipt {
            color: rgb(137, 137, 134);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 30px;
            @media (max-width: 580px) {
                font-size: 14px;
            }
            @media (max-width: $ipse) {
                margin: 0px 10px 10px 10px;
            }
        }
    }

    animation: 0.8s ease-in-out co-contact;
    @keyframes co-contact {
        from {
            transform: translateY(-10%);
            opacity: 0;
        }
        to {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

.co-img {
    img {
        border-radius: 10px;
    }
    @media (max-width: 992px) {
        display: none;
    }
}
.list-card {
    position: absolute;
    @media (max-width: 992px) {
        position: relative;
        flex-direction: column;
    }
    .cards {
        text-align: center;
        width: 200px;
        height: 180px;
        max-height: 180px;
        background-color: #fdf3e2;
        border-radius: 25px;
        padding: 40px 10px;
        margin-right: 32px;
        position: relative;

        @media (max-width: 992px) {
            margin: 30px;
            width: 100%;
            padding: 45px;
            height: 151px;
            &:first-child,
            &:nth-child(2),
            &:last-child {
                img {
                    left: 313px !important;
                }
            }
        }

        @media (max-width: $surfacepro7) {
            margin: 20px 0px;
            &:first-child,
            &:nth-child(2),
            &:last-child {
                img {
                    left: 325px !important;
                }
            }
        }
        @media (max-width: $ipadair) {
            margin: 20px 0px;
            &:first-child,
            &:nth-child(2),
            &:last-child {
                img {
                    left: 325px !important;
                }
            }
        }
        @media (max-width: $ipadmini) {
            margin: 20px 0px;
            &:first-child,
            &:nth-child(2),
            &:last-child {
                img {
                    left: 325px !important;
                }
            }
        }
        @media (max-width: 610px) {
            &:first-child {
                img {
                    left: 228px !important;
                }
            }
            &:nth-child(2) {
                img {
                    left: 228px !important;
                }
            }
            &:last-child {
                img {
                    left: 228px !important;
                }
            }
        }
        @media (max-width: 540px) {
            &:first-child {
                img {
                    left: 206px !important;
                }
            }
            &:nth-child(2) {
                img {
                    left: 206px !important;
                }
            }
            &:last-child {
                img {
                    left: 206px !important;
                }
            }
        }
        @media (max-width: $ip14prm) {
            margin: 20px 0px;
            &:first-child,
            &:nth-child(2),
            &:last-child {
                img {
                    left: 180px !important;
                }
            }
        }
        @media (max-width: $ipxr) {
            margin: 20px 0px;
            &:first-child,
            &:nth-child(2),
            &:last-child {
                img {
                    left: 172px !important;
                }
            }
        }
        @media (max-width: $ip12pro) {
            margin: 20px 0px;
            &:first-child,
            &:nth-child(2),
            &:last-child {
                img {
                    left: 160px !important;
                }
            }
        }
        @media (max-width: $ipse) {
            margin: 20px 0px;
            &:first-child {
                img {
                    left: 154px !important;
                }
            }
            &:nth-child(2),
            &:last-child {
                img {
                    left: 152px !important;
                }
            }
        }
        @media (max-width: $ipse) {
            margin: 20px 0px;
            &:first-child,
            &:nth-child(2),
            &:last-child {
                img {
                    left: 145px !important;
                }
            }
        }
    }
}

.cards {
    &:first-child {
        img {
            position: absolute;
            width: 50px;
            top: -25px;
            left: 80px;
            transition: all 0.1s ease;
        }
    }
    &:nth-child(2) {
        img {
            position: absolute;
            width: 50px;
            top: -27px;
            left: 78px;
            transition: all 0.1s ease;
        }
    }
    &:last-child {
        img {
            position: absolute;
            width: 50px;
            top: -27px;
            left: 85px;
            transition: all 0.1s ease;
        }
    }
    img {
        &:hover {
            top: -30px;
            scale: 1.1;
        }
    }
    p {
        &.h3 {
            font-weight: 500;
            color: #041d3c;
            font-family: cursive;
        }
        &:last-child {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.1rem;
        }
    }
}
.maps iframe {
    width: 100%;
    @media (max-width: 645px) {
        display: none;
    }
}
