$lg: 992px;
$sm: 540px;

@import 'https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap';

.slider-title {
    text-align: center;
}

.w-list {
    list-style-image: url('../../../public/images/icons8/icons8-cat-footprint-16.png');
}
.checkin {
    .checkin-list {
        list-style-image: url('../../../public/images/icons8/icons8-checkmark-16.png');
    }
}
.decor {
    background-color: #061a33;
    background-image: url('../../../public/images/footer-tr-bg.png');
    height: 25vh;
    margin-bottom: 20px;
    @media (max-width: $lg) {
        height: 20vh;
        margin-bottom: 80px;
    }
}
.container-fluid {
    padding: 0px !important;
}
.home {
    .container {
        .row {
            margin: 30px 0px;
        }
    }
}
