.slider-title {
    text-align: center;

    p {
        color: #ec5078;
        font-weight: bold;
        font-size: 18px;
        margin: 8px 0px;
        line-height: 45px;
    }
    img {
        object-fit: contain;
        margin-right: 5px;
        padding-bottom: 5px;
    }

    h2 {
        font-size: 3.4rem;
        font-weight: bolder;
        color: #0c1529;
        margin-bottom: 30px;
    }
}
.home{
    .container{
        .row{
            margin: 30px 0px;
        }
    }
}