.team-avt {
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: 100% 20%;
        border-radius: 10px;
    }
}
.team-infor {
    width: 100%;
    height: fit-content;
    background-color: #f7f7f5;
    padding: 40px;
    border-radius: 5px;
    .team-name {
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0px;
            bottom: -2px;
            width: 70px;
            height: 2px;
            background-color: #ec5078;
        }
        h3 {
            color: #0c1529;
            font-weight: bolder;
        }
        p {
            color: #82b440;
        }
    }
    .detail-infor {
        padding: 30px 0px;
        border-bottom: 1px solid #ddd;
        .list-in4 {
            list-style-type: none;
            padding: 0px;
            .specific-in4 {
                padding: 10px 0px;
                .label {
                    margin-right: 15px;
                    width: 120px;
                    display: inline-block;
                    font-weight: bold;

                    &::after {
                        content: ':';
                        margin: 0px 10px;
                        float: right;
                    }
                }
            }
        }
    }
    .team-social {
        display: flex;
        justify-content: space-between;
        padding: 40px 100px 0px 0px;
        h3 {
            font-weight: bold;
            color: #0c1529;
        }
        .icon {
            padding-top: 6px;
            cursor: pointer;
            transition: all 0.3s ease-out;
            path {
                color: #757575;
            }
            &:hover {
                scale: 1.3;
                path {
                    color: #ec5078;
                }
            }
        }
    }
}
.team-descript {
    margin: 30px 0px;
    .about-header {
        padding: 10px 0px;
        border-bottom: 3px solid #ddd;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0px;
            bottom: -2px;
            width: 140px;
            height: 2px;
            background-color: #ec5078;
        }
        h2 {
            color: #0c1529;
            font-weight: bold;
        }
    }
}
.div-tippy {
    background-color: rgb(245, 222, 179);
    font-style: italic;
    padding: 10px 10px;
    border-radius: 9px;
}
.team-skill {
    padding: 30px 40px 30px 0px;
    .header-skill {
        h4 {
            color: #0c1529;
            font-weight: bolder;
        }
    }
    .allskill {
        .skill {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 15px 0px;
            margin-bottom: 5px;
            background-color: rgb(253, 245, 229);
            border-radius: 5px;
            &.skill1 {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0px;
                    width: 85%;
                    height: 5px;
                    background-color: #ec5078;
                    border-radius: 5px;
                }
            }
            &.skill2 {
                

                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0px;
                    width: 75%;
                    height: 5px;
                    background-color: #ec5078;
                    border-radius: 5px;
                }
            }
            &.skill3 {
                

                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0px;
                    width: 80%;
                    height: 5px;
                    background-color: #ec5078;
                    border-radius: 5px;
                }
            }
            &.skill4 {
                

                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0px;
                    width: 99%;
                    height: 5px;
                    background-color: #ec5078;
                    border-radius: 5px;
                }
            }
            .value {
                font-size: 16px;
            }
        }
    }
}
.team-achieve {
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    .team {
        width: 50%;
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        margin-bottom: 40px;
        .wrapper-icon {
            width: 45%;
            height: 100%;
            background-color: #ec5078;
            padding: 27px 20px 0px 20px;
            border-radius: 15px;
            svg {
                path {
                    color: white;
                }
            }
            .team-achieve-icon {
                font-size: 3.4rem;
            }
        }
        .wrapper-icon2 {
            width: 45%;
            height: 100%;
            background-color: #82b440;
            padding: 27px 20px 0px 32px;
            border-radius: 15px;
            svg {
                path {
                    color: white;
                }
            }
            .team-achieve-icon {
                font-size: 3.4rem;
            }
        }
        .wrapper-icon4 {
            width: 45%;
            height: 100%;
            background-color: #27c2ea;
            padding: 27px 20px 0px 25px;
            border-radius: 15px;
            svg {
                path {
                    color: white;
                }
            }
            .team-achieve-icon {
                font-size: 3.4rem;
            }
        }
        .team-content {
            h2 {
                font-size: 3rem;
                font-weight: bolder;
                color: #0c1529;
            }
            p {
                color: #757575;
                font-size: 17px;
                font-weight: bolder;
            }
        }
    }
}
.other-members{
    width: 100%;
    text-align: center;
}