.search {
    .btn-success {
        box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.67);
        -webkit-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.67);
    }
    .right-sidebar {
        background-color: #f7f7f5;
        width: 100%;
        height: fit-content;
        margin-left: 14px;
        padding: 30px;
        border-radius: 5px;
        h4 {
            margin-bottom: 20px;
            font-weight: bolder;
            color: #0f2353;
        }
        .list-cate {
            list-style-type: none;

            .item-cate {
                padding: 22px 0px 15px 0px;
                border-top: 1px solid #dcdada;
                transition: all 0.3s ease-in-out;
                span {
                    font-size: 15px;
                    font-weight: bold;
                    color: #0f2353;
                    margin-left: 7px;
                }
                svg {
                    path {
                        color: #a9a6a6;
                    }
                }
                &:hover {
                    transform: translateX(8%);
                    cursor: pointer;
                    span {
                        color: #ec5078;
                    }
                    .arrow-news {
                        path {
                            color: #ec5078;
                        }
                    }
                }
                &:last-child {
                    border-bottom: 1px solid #dcdada;
                }
            }
        }
    }
}
