$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
@import 'https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap';
.container {
    background-color: transparent;
}

.superContainer {
    background-color: transparent;
    &.changeBgColor {
        background-color: white;
    }
    .container-fluid {
        padding: 0px !important;
    }
}

.nav-item {
    font-size: 20px !important;
    margin: 0 8px;

    &.pageTag {
        position: relative;
        .dropdown-content {
            position: absolute;
            border-radius: 5px;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            top: 70px;
            right: -60px;
            &::before {
                content: '';
                position: absolute;
                top: -20px;
                left: 50%;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid transparent;
                transform: translateX(-50%);
            }
            button,
            a {
                color: rgb(2, 2, 2);
                padding: 8px 16px;
                border-radius: 5px;
                text-decoration: none;
                display: block;
                background-color: transparent;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #ddd;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
    .nav-link {
        line-height: 40px;
        font-family: oswald;
        @media (max-width: $lg) {
            font-size: 17px;
            padding: 2px !important;
        }
    }
    .btn-language {
        background-color: transparent;
    }
    .user_profile {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background-color: white;
        margin-top: 7px;
        position: relative;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
        .dropdown-content {
            position: absolute;
            border-radius: 5px;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            top: 63px;
            right: -60px;
            &::before {
                content: '';
                position: absolute;
                top: -20px;
                left: 50%;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid transparent;
                transform: translateX(-50%);
            }
            button,
            a {
                color: rgb(2, 2, 2);
                padding: 8px 16px;
                border-radius: 5px;
                text-decoration: none;
                display: block;
                background-color: transparent;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #ddd;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
        .avt {
            width: 100%;
            height: 43px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
